<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class=" justify-content-center form_container">
                <h4 class="heading"> Nhập Email của bạn </h4>
                        <form id="forgotform"(submit)="onSubmit()" #forgotform="ngForm">
                            <div class="input-group mb-3">
                                
                                <br>
                                <div class="input-group-append">
                                   
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="email" name="email" ngModel required minlength="6" id="email" aria-describedby="emailHid" class="form-control input_user" value="" placeholder="Email" #email ="ngModel">
                                
                            
                            </div>
                            <small id="emailHid" *ngIf="!email?.valid" class="form-text text-danger "> Email is invalid or empty</small>
                        <div  class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" class="btn login_btn">Submit</button>
                 
                        </div>
                        </form>
                    </div>
    
          
                </div>
            </div>
        </div>